@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  width: 80%;
  margin: 0, auto;
  max-width: 1000px;

}

.wrapper, .con-con{
	width: 100vw;
	height: 120vh;
	background-color: #212F3C;
	color: #fff
}
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 2em;
}

.brad span{
	color: #4FFF00;
	margin-top: -7px
}

.menu {
	display: flex;
	width: 60%;
	justify-content: space-around;
}



.menu li{
	list-style: none;
}

.menu a{
	color: #00FF00;
	text-decoration: none;
	padding: 10px 20px
}

.menu .active{
	color: ;
}

.menu a:hover {
	background-color: #0E4C10;
	color: #2ECC71;
	transition: ease-in .3s;
	box-shadow: 1px 1px 5px -2px;
	border-radius: 5px
}
.main {
	margin: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: center;
	padding-left: 50px;
	box-sizing: border-box;

}

h1{
	font-size: 3em;

}

span{
	color: #4FFF00;
}

.download-CV{
	padding: 10px 20px;
	background-color: #4FFF00;
 	border: none;
 	border-radius: 20px;
 	margin-top: 10px;
 	cursor: pointer;
 	box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}
.download-CV:hover{
	background-color: white;
	box-shadow: none;

}
.main img{
	width: 100%;
	border: 3px solid green;
	height: auto;
}
.about {
	display: grid;
	grid-template-columns: repeat(10,1fr);
	background-color:#191c39;
	width: 100vw
}

.about img {
	width: 75%;
	height: auto;
	grid-column: 1/5;
	align-items:stretch;
}

.about-info {	
	width: 500px;
	margin-left: -180px;
	margin-bottom: 150px;
	margin-top: 100px ;
	grid-column: 5/10;
	padding: 5em;
	background-color:  #707B7C;
	box-sizing: border-box;

}

.about-info h2{
	font-size: 3em;
	color: white;
}
.cont-about {
	padding: -2px;
	width: 1300px
}
.letra {
	font-size: 1em
}
.divider {
	height: 4px;
	width: 60px;
	background-color: #4FFF00;
	margin-top: 5px;
	margin-bottom: 2em;
}
.about p{
	margin-bottom: 1em;
	color: black;
}
.portafolio {
	width: 100vw;
	background-color: #191c32
}

.portafolio-heading {
	width: 100vw;
	padding: 5em;

}

.portafolio-heading h2 {
	font-size: 3em;
	color: white;
}

.portafolio .contenedor {
	width: 80vw;
	height: 80vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.card {
	height: 500px;
	background-color: #101e4b;
	color: #fff;
	margin: 1.5em;
}
.card-img {
	width: 100%;
	height: 190px;
}
.card-img img{
	width: 80%;
	height: 210px;
	margin-left: 20px
}
.icon12 {
	padding: 7px
}

.card-titulo {
	padding: 30px;
}
.card-proyect-link {
	display: flex;
	justify-content: space-evenly;

}
.card-proyect-link a {
	color: #fff;
	text-decoration: none;
}

.card-proyect-link i {
	font-size: 2em;
}
.card .proyect-details {
	margin: 0 auto;
	margin: 1em;
	width: 70%;
}

.card .proyect-details a {
	text-decoration: none;
	color: #191c32;
	text-transform: uppercase; 
}
.conta{
	padding-left: 0.5em 
}
.proyect-details-contenido{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 1em;
}
.Contac-heading {
	font-size: 1.5em;

}

.container-contact {
	padding: -3em;
	margin: 0, auto;
}
.container-contact img {
	width: 600px;
	height: 600px;
	bottom: 0px;
	float: left;
	margin-left: 15px;
}


.form {
	display: flex;
	flex-direction: column;
	width: 30vw;
	margin-top: 2em;
	float: left;
}
.form input{
	padding: 10px 20px;
	margin-bottom: 1em;
	background: none;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
}
.form textarea {
	height: 150px;
	background: none;
	color: #fff;
	padding: 1.5em;
	border: 1px solid #fff;
}
.btn-submit {
	padding: 10px 20px;
	margin: 1em;
	border: none;
	text-transform: uppercase;
	background-color: #4FFF00;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}
.btn-submit:hover{
	background-color: white;
	box-shadow: none;

}
textarea {
	resize: none;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 200px;
	background-color:#4FFF00 ;
}
.footer-cont h2{
	font-size: 2em;

}
.footer-cont h5 {
	font-size: 1em;
	padding-left: 30px
}
.sotial-network {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-top: 1em;
}
.sotial-network i{
	font-size: 1.5em;
}
.descripcion {
	font-size: 20px;
}



.yo {
	padding: 0;
	height: 20px
}
.Iam {
  padding: 1em 1em 0em -2em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 0px;
}
.Iam .innerIam {
  display: inline-block;
  color: #4FFF00;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;



-webkit-animation:move 5s;
   -moz-animation:move 7s;
    -ms-animation:move 7s;
     -o-animation:move 7s;
        animation:move 7s;

-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;

-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

.circular-progress {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: auto;
  position: relative;
}
.circular-progress:before {
  width: 12rem;
  height: 12rem;
  position: absolute;
  top: 0;
  left: 0;
  content: "HTML5";
  border-radius: 50%;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: center;
  line-height: 8rem;
}
.circular-progress:after {
  content: "60%";
  width: 12rem;
  height: 12rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 13rem;
}

.html {
  transform: rotate(126deg);
  background: linear-gradient(0deg, orange 50%, rgba(255, 165, 0, 0.2) 50%);
}
.html:before, .html:after {
  color: orange;
}
.html:before {
  content: "html5";
  background: black content-box;
  transform: rotate(-126deg);
  text-transform: uppercase;
}
.html:after {
  content: "70%";
  background: linear-gradient(transparent 60%, #101e4b 50%);
  transform: scale(1.1) rotate(-126deg);
}

.css {
  transform: rotate(144deg);
  background: linear-gradient(-35deg, blue 50%, rgba(70, 130, 180, 0.2) 50%);
}
.css:before, .css:after {
  color: Steelblue;
}
.css:before {
  content: "Css3";
  background: black content-box;
  transform: rotate(-144deg);
  text-transform: uppercase;
}
.css:after {
  content: "60%";
  background: linear-gradient(transparent 60%, #101e4b 50%);
  transform: scale(1.1) rotate(-144deg);
}

.javascript {
  transform: rotate(18deg);
  background: linear-gradient(12deg, yellow 50%, rgba(255, 255, 0, 0.2) 50%);
}
.javascript:before, .javascript:after {
  color: yellow;
}
.javascript:before {
  content: "JS";
  background: black content-box;
  transform: rotate(-18deg);
  text-transform: uppercase;
}
.javascript:after {
  content: "20%";
  background: linear-gradient(transparent 60%, #101e4b 50%);
  transform: scale(1.1) rotate(-18deg);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

@media screen and (min-width: 800px) {
	.main {
		width: 100%;
	}

	.about {
		width: 100%;
	}
}





/*
	<div class="about" id="SobreMi">
		<img src="./img/gato.png" alt="margarita">
	</div><div class="about-info">
		<h2 >¿Quien Soy?</h2>
		<div class="divider"> </div>
		<h3 class="letra">Soy un desarrollador Web autodidacta. Me adentre en el desarrollo web porque siempre me surgía la duda "¿Cómo hacen las páginas?, ¿Cómo logran hacer que cada opción funcione tan bien?", así que decidí tomarme un tiempo para estudiar lo que es el desarrollo para entender el mecanismo que hay en esas páginas, así nació mi impotente necesidad de crear mi propia página y aquí esta, me apasiono tanto que decidí dedicarme parcialmente a esto, aprendo de los errores que conlleva y sobre todo, descubro más cosas para aumentar mi creatividad.</h3>
	</div>*/